/* to make the body of everything not get in the way */
body {
    margin:0;
    padding:0;
}
/* this controls the main button area in the front home page */
#home {
    margin:0;
    position:relative;
    width:100%;
    height:10vh;
    background-color:indigo;
    display: flex;
    flex-wrap:wrap;
    flex-direction:row;
    align-items:center;
    gap:30px;
    opacity:0.8;
    font-family: "Quicksand", sans-serif;

}
/* this is the starting place of the buttons */
button {
    color:white;
    background-color:indigo;
    width:130px;
    height:30px;
    font-size:25px;
    border-radius:40px;
    opacity: 0.8;
}
/* this is the after affect of all buttons */
button:hover {
    background-color:black;
    color:whitesmoke
}
/* this is the purchase button used for all things lol :) */
.button1 {
    margin-top:10px;
    color:white;
    background-color:indigo;
    width:100%;
    height:30px;
    font-size:25px;
    border-radius:40px;
    opacity: 0.8;
}
/* this controls the img in the front page */
.img1 {
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index:-1;


}
/* This is used to srink down do the logo can fit in the menu  */
.img2 {
    width:60px;
    height:60px
}

/* VERY IMPORTANT FOR THE FRONT IS THE MAIN FADE IN AND OUT OF MAIN HOME PAGE */
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity:1;
    }
}
.home2 {
    margin:0;
    font-size:70px;
    animation: fade 1s ease-in;
    
}
/* DO NOT DELETE IS ALSO THE MAIN ZONE FOR FADE IN THE MAIN HOME PAGE */
.home3 {
    margin:0;
    font-size:30px;
    animation: fade2 2.5s ease-in;
    
}

@keyframes fade2 {
    from {
        opacity: 0;
    }
    to {
        opacity:1;
    }
}



/* do not delete is used for main page pictures :) */
.img3 {
    width:210px;
    height:180px
}
/* used to keep all the img fit in thier place for the buying area */
.img4 {
    width: 50%;
}

.img5 {
    width:300px;
    height:350px
}

/* this is the base writing of everything */
p {
    margin:0;
    font-size:30px;
    color:rgb(215, 212, 212);
    font-family: "Quicksand", sans-serif;
    
}

/* This is purely the same thing as p but its used to keep compacted text in the buying menu */
.p2 {
    font-size:20px;
    color:black;
    font-family: "Quicksand", sans-serif;
    
}
/* used in the buying page to make things black ;-; */
.p3 {
    font-size:30px;
    color:black;
    /* background-color: red; */
}
/* p5 and p6 are used for about us page */
.p5 {
    font-size:30px;
    color:white;
    font-family: "Quicksand", sans-serif;
    
}

.p6 {
    font-size:20px;
    color:white;
    font-family: "Quicksand", sans-serif;
    
}

.p7 {
    font-size:50px;
    color:black;
    font-family: "Yuji Mai", serif;
}

/* text align? */
.div23 {
    text-align:center;
}

/* this is the middle section of the home page */
.divrich {
    border-radius:70px;
    width:30vw;
    height:200px;
    margin:auto;
    padding:5px;
    padding-left:30px;
    background-color:rgba(76, 0, 130, 0.4) 
}

/* DO NOT DELETE PLEASE USED FOR MAIN ORGANIZING IN HOME PAGE AND OTHER PAGES AS WELL*/
.flexwork {
    margin:0;
    width:100vw;
    height:90vh;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    align-items:center;
    justify-content:space-evenly;
    /* background-color:blue */
}
/* this is used for the buy page to make the formatting */
.flexwork2 {
    width:100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
    align-items:center;
}
/* the inside of the flexwork to make it organized and simple */
.flexwork3 {
    margin-top:30px;
    /* background-color: red; */
    display:flex;
    flex-direction: row;
    align-items:center;
    width: 45%;
    height: 50vh;
}
/* This is the price div box */
.InformationDiv{
    /* background-color: blue; */
    width: 50%;
    height: 100%;
    overflow: none;
}

/* this is the discription div box in the buying menu */
.DescriptionDiv{
    /* background-color: purple; */
    width: 100%;
    height: 50%;
    overflow: hidden;
}
/* used in about us */
.aboutflex {

    display:flex;
    flex-direction: row;
    align-items:center;
    /* background-color:red; */
    gap:30px

}
/* used in about us */
.aboutusDiv {
    margin:0;
    padding:0;
    width:50vw;
    height:50vh;
    /* background-color:aquamarine; */
    background-color:rgba(76, 0, 130, 0.595);
    border-radius:30px;
    

}
/* used in about us */
.aboutusflex2 {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-evenly;
}
/* used in about us */
.wholescreenflex{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-evenly;
    width: 100%;
    height: 90%;

}

.buypage {
    margin:auto;
    width:fit-content;
    height:40vh;

}
